body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cabecera{
  background-color: #1A3648;
  border: solid rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em;
  padding-left: 13em;

}

.logo, .titulo{
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}
.logo {
  justify-self: end;
  margin-left: 10px;
  margin: 0.5em 0em 1em 0em;
  width: 250px;

}
.logo img{
  width: 250px;
  border-radius: 50%;
  /* box-shadow: black 0.2em 0.2em 0.2em 0.3em ; */
}
.titulo{
  font-size: 30px;
  margin-top: 0.2em;
  padding: 1em;
  font-family: Verdana, sans-serif;
  color: azure;
}
.titulo h1{
  
}


@media screen and (max-width: 480px) {
  .cabecera {
    flex-direction: column;
    margin: 1em;
    padding-left: 0em;
}
.logo, .titulo {
    text-align: center;
}
}
/*//////////////////empiezan los tabs/////////////////////////////*/

main{
  border: solid rgba(0, 71, 18, 0.61) ;
  margin: 1em;

}
.container-tab{
  border: solid rgba(0, 71, 18, 0.61) ;
  background-color: antiquewhite;
  background-image: url(images/fondoQR.png);
  background-size:auto;
  background-repeat: no-repeat;
  
}

.tab-list li{
  display: inline-block;
  border: solid white;
  background-color: #1A3648;
  font-size:25px;
  border-radius: 5px;
  margin-top: 0.5em;
}

.tab-list li button:focus{
  background-color:#CC9952;
}

.tab-list li:hover{
  background-color: goldenrod;
}
.tab-list li button{
  color: rgb(255, 255, 255);
  padding:1em;
  background-color: #1A3648;
  font-size:25px;
}
.tab-list li button:hover{
  color:rgb(255, 255, 255);
  background-color: #CC9952;
  cursor: pointer;

}


.tab-content .tab-pane{
  display:none;
  height: 300px;
}

.tab-content .tab-pane:first-child{
  display:block;
}
.tab-pane{
  font-size: 30px;
  color: aliceblue;
}
.contenido{
  display: inline-flex;
}
.contenido form{
  margin-top: 40px;
}
.contenido img{
  border-radius: 50%;
}

.tab-pane .geo{
  margin: 1em 1em 1em 1em;
  font-size: 20px;
  text-decoration: none;
  color: #1A3648;
  padding:0.5em;
  background-color:rgb(255, 255, 255) ;
  font-size:25px;
  border-radius: 5px;
}
.tab-pane button{
  margin: 1em 1em 1em 1em;
  font-size: 20px;
  text-decoration: none;
  color: #1A3648;
  padding:0.5em;
  font-size:25px;
  border-radius: 5px;
}
.tab-pane button:hover{
  cursor:pointer;
  font-weight: bolder;
}
.tab-pane .qr img{
  width: 200px;
  border-radius: 0%;
}
.tab-pane .contenido .wifi{
  background-color: #1A3648;
}
.wifi p{

  text-shadow: black 0.1em 0.05em ;
  margin-top: 3.5em;
  

}


footer{
  background-color: #1A3648;
  color: white;
  padding: 1em;
  margin: 1em;
  text-align: center;
}
footer a{
  color: white;
}
